
.root{
    -fx-background-image:url("images/mainMenu.jpg");
    -fx-background-size:cover;
}

.button{
    -fx-background-color:firebrick;
    -fx-text-fill:white;
    -fx-border-color:black;
    -fx-background-radius:15;
    -fx-border-radius:15;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.button:hover {
    -fx-background-color: red;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}